.box{
	width:1000px;
	margin: 10px auto;
	margin-bottom: 50px;
}
.big_thing{
    position: relative;
    background: url(../images/bigthing1.png) no-repeat;
    background-size: 100% 100%;
    width: 95%;
    height: 610px; 
    margin: 0 auto;
}
.book_box{
    margin: 20px auto;
    height: 510px;
    /* padding: 40px; */
    padding-top: 23px;
}
.book_box img{
	width: 100%;
}