<<<<<<< HEAD
body {
	background-color: #F2F3F8;
}
/*联系我们*/
.usCurrent {
	width: 1000px;
	margin: 15px auto;
}
.contactUs {
	background-color: #fff;
	
	width: 1000px;
	margin: 15px auto;
}
.contactUs_content {
    text-align: left;
    padding-bottom: 40px
}
.contactUs_content h3 {
	height: 85px;
	font-size: 24px;
	color: #3676C5;
	line-height: 85px;
	text-align: center;
    font-weight: bold;
}
.contactUs_content>div {
	background-color: #DCEBFC;
	padding: 10px 0 10px 200px;

}
.contactUs_content>div p {
    font-size: 24px;
    margin: 10px auto;
    font-weight: bold;
    color: #000;
    line-height: 30px;
}
.contactUs_content>div p span {
    margin-right: 7px;
}
.contactUs_map {
	height: 500px;
}
/*进言献策*/
.advice {
	width: 1000px;
	margin: 15px auto;
	background-color: #fff;
}
.mainAdvice h3 {
	text-align: center;
	font-size: 21px;
	color: #000;
}
=======
body {
	background-color: #F2F3F8;
}
/*联系我们*/
.usCurrent {
	width: 1000px;
	margin: 15px auto;
}
.contactUs {
	background-color: #fff;
	
	width: 1000px;
	margin: 15px auto;
}
.contactUs_content {
    text-align: left;
    padding-bottom: 40px
}
.contactUs_content h3 {
	height: 85px;
	font-size: 24px;
	color: #3676C5;
	line-height: 85px;
	text-align: center;
    font-weight: bold;
}
.contactUs_content>div {
	background-color: #DCEBFC;
	padding: 10px 0 10px 200px;

}
.contactUs_content>div p {
    font-size: 24px;
    margin: 10px auto;
    font-weight: bold;
    color: #000;
    line-height: 30px;
}
.contactUs_content>div p span {
    margin-right: 7px;
}
.contactUs_map {
	height: 500px;
}
/*进言献策*/
.advice {
	width: 1000px;
	margin: 15px auto;
	background-color: #fff;
}
.mainAdvice h3 {
	text-align: center;
	font-size: 21px;
	color: #000;
}
>>>>>>> 91a53dbac69c2cea09f1058e340e7a7723358bbb
